@import "color.scss";
body{
  overflow-x: hidden;
}
.experience-banner {
  margin-top: 98px;
}
#google-map-wrapper{
  margin-right: 255px;
  margin-left: 255px;
  iframe{
    width: -webkit-fill-available;
  }
}

#parcours-urbains-text{
  margin-left: 102px;
  margin-top: 120px;
  margin-bottom: 104.5px;

  h5{
    margin: 0 0 70.5px;
  }
}
#video-parcours-urbains{
  margin-top: 120px;
}


#affiche-festival{
  margin-left: 102px;
  margin-top: 120px;
}
#link-btn-download-app{
  position: absolute;
  bottom: 0.5%;
}
