@import "fonts.scss";

.festival-details-text {
  margin-top: 91px;
  margin-bottom: 91px;
}

#ambiance-details {
  margin-right: 255px;
  margin-left: 255px;
  margin-bottom: 12%;
}
#ambiance-dj{
  margin-right: 40px;
}