@import "fonts.scss";

body{
  overflow-x: hidden;
}
.festival-details-text {
  margin-top: 91px;
  margin-bottom: 91px;
}
.img-ambiance{
  cursor: pointer;
}
#ambiance-details {
  margin-right: 255px;
  margin-left: 255px;
  margin-bottom: 12%;
}
#ambiance-dj{
  margin-right: 40px;
}