@import "color.scss";

body{
  overflow: hidden;
}
#lignes {
  background: $color-noir;
}

.defiliant-banner-wrapper{
  height: 48px;
  p{
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 39px;
    text-transform: uppercase;
    animation: defilement-rtl 5s infinite linear;
    white-space: nowrap;
  }
}
.defiliant-banner-wrapper p:hover{
  animation-play-state: paused;
}
@keyframes defilement-rtl {
  0% {
    transform: translate3d(0,0,0);
  }
  100% {
    transform: translate3d(100%,0,0);
  }
}
