@import "color.scss";
#tabs{
  ul{
    list-style-type: none;
  }
  ul li{
    display: inline;
  }
}
#tabs-container{
  padding-top: 150px;
  padding-bottom: 150px;
}
.btn{
  img {
    margin-right: 17.8px;
    vertical-align: sub;
  }

  span {
    font-family: Proxima Nova Bold;
    text-transform: uppercase;
    font-size: 19px;
    color: black;
  }
}
.btn:hover{
  background-color: black;
  border: 1px solid white;
  span{
    color: white;
  }
}
#btn-covoiturer{
  width: 250px;
  height: 75px;
  background-color: white;
  border: 4px solid $color-gunmetal;
  span{
    font-family: Proxima Nova Bold;
    font-size: 21px;
    color: $color-gunmetal;
    text-transform: uppercase;
  }
}
#btn-benevole{
  width: 319px;
  height: 75px;
  background-color: white;
  border: 4px solid $color-gunmetal;
  span{
    font-family: Proxima Nova Bold;
    font-size: 21px;
    color: $color-gunmetal;
    text-transform: uppercase;
  }
}
#mailMirageFestival{
  text-decoration: none;
  font-family: Proxima Nova SemiBold;
  font-size: 32px;
  color: $color-gunmetal;
}
.btn-active{
  background-color: black;
  border: 1px solid white;
  img {
    margin-right: 17.8px;
    vertical-align: sub;
  }

  span {
    font-family: Proxima Nova Bold;
    text-transform: uppercase;
    font-size: 19px;
    color: white;
  }
}
#btn-trajet{
  width: 262px;
  height: 62px;
}
#btn-sur-place{
  width: 264px;
  height: 62px;
}
#btn-hebergement{
  width: 304px;
  height: 62px;
}
.btn-active:focus{
  outline: none;
}
.block-accordeon{

}
.liens-habitants{
  text-decoration: none;
  font-family: Proxima Nova SemiBold;
  font-size: 32px;
  color: $color-gunmetal;
}
.titre-accordeon{
  font-family: Proxima Nova Bold;
  font-size: 38px;
  display: inline;
}
.titre-accordeon-icon{
  cursor: pointer;
}
.titre-accordeon:before{
  content: "\2022";
  color: $color-suva-grey;
  font-weight: bold;
  display: inline-block;
  font-size: 85px;
  vertical-align: sub;
  margin-right: 42px;
  margin-left: 62px;
}

.sous-titre-accordeon{
  font-family: Proxima Nova Bold;
  font-size: 33px;
  margin-left: 135px;
  margin-top: 1em;
  margin-bottom: 0;
}

.texte-accordeon{
  font-family: Proxima Nova Regular;
  font-size: 33px;
  margin-left: 135px;
  margin-top: 0;
  margin-bottom: 0;
}