@import "color.scss";
#tabs{
  ul{
    list-style-type: none;
  }
  ul li{
    display: inline;
  }
}

.btn{
  img {
    margin-right: 17.8px;
    vertical-align: sub;
  }
}
#tabs .container-fluid {
  margin-bottom: 3%;
}
.btn:hover{
  background-color: black;
  border: 1px solid white;
  span{
    color: white;
  }
}
#btn-covoiturer{
  width: 250px;
  height: 75px;
  background-color: white;
  border: 4px solid $color-gunmetal;
  span{
    font-family: Proxima Nova Bold;
    font-size: 21px;
    color: $color-gunmetal;
    text-transform: uppercase;
  }
}
#btn-benevole{
  width: 319px;
  height: 75px;
  background-color: white;
  border: 4px solid $color-gunmetal;
  span{
    font-family: Proxima Nova Bold;
    font-size: 21px;
    color: $color-gunmetal;
    text-transform: uppercase;
  }
}
#mailMirageFestival{
  text-decoration: none;
  font-family: Proxima Nova SemiBold;
  font-size: 32px;
  color: $color-gunmetal;
}
.btn-active{
  background-color: black;
  border: 1px solid white;
  img {
    margin-right: 17.8px;
    vertical-align: sub;
  }
}

.btn-active:focus{
  outline: none;
}
.block-accordeon{

}
.liens-habitants{
  text-decoration: none;
  font-family: Proxima Nova SemiBold;
  font-size: 32px;
  color: $color-gunmetal;
}

.titre-accordeon-wrapper{
  cursor: pointer;
}