@import "fonts.scss";

.container-fluid{
  margin-bottom: 71px;
}

.festival-description-wrapper {
  padding-top: 62px;
}

#festival-details {
  margin-right: 255px;
  margin-left: 255px;
}

.festival-details-text {
  margin: 34px;
}

.festival-details-text img {
  padding: 34px;
  margin: -3px;
  width: 25%;
}