@import 'color.scss';

h1 {
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-weight: 800;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: $color-dim-gray;
  color: transparent;
  text-transform: uppercase;
  font-size: 150px;
  margin: 0;
}

h2 {
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  font-size: 79px;
  margin: -8.5% 0 0 0;
}

.btn-with-icon {
  width: 262px;
  height: 62px;

  img {
    margin-right: 17.8px;
    vertical-align: sub;
  }

  span {
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 19px;

  }
}

.btn-with-icon:hover {
  background-color: $color-noir;
  border: 1px solid white;

  img {
    color: white;
  }

  span {
    color: white;
  }
}