@import 'color.scss';
@import "fonts.scss";

body {
  margin-bottom: 0;
  background-color: $color-noir;
}

h1 {
  font-family: Proxima Nova ExtraBold;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: $color-dim-gray;
  color: transparent;
  text-transform: uppercase;
  font-size: 150px;
}

h2 {
  font-family: Proxima Nova Bold;
  color: white;
  font-size: 87px;
}

h3 {
  font-family: Proxima Nova Bold;
  color: white;
  text-transform: uppercase;
  font-size: 79px;
}

h4 {
  font-family: Proxima Nova Bold;
  font-size: 49px;
  text-transform: uppercase;
}

button {
  cursor: pointer;
}

.text-labeur {
  font-family: Proxima Nova Light;
  font-style: normal;
  font-weight: 300;
  font-size: 26px;
}

.btn-with-icon {
  width: 262px;
  height: 62px;

  img {
    margin-right: 17.8px;
    vertical-align: sub;
  }

  span {
    font-family: Proxima Nova Bold;
    text-transform: uppercase;
    font-size: 19px;

  }
}

.btn-with-icon:hover {
  background-color: $color-noir;
  border: 1px solid white;

  img {
    color: white;
  }

  span {
    color: white;
  }
}

.btn-with-icon-black {
  width: 262px;
  height: 62px;
  background-color: $color-noir;
  border: none;

  img {
    margin-right: 17.8px;
    vertical-align: sub;
  }

  span {
    font-family: Proxima Nova Bold;
    text-transform: uppercase;
    font-size: 19px;
    color: white;
  }
}


.btn-with-icon-black-no-hover {
  height: 75px;
  background-color: $color-noir;
  border: none;

  img {
    margin-right: 21.8px;
    vertical-align: sub;
    padding-left: 1em;
  }

  span {
    font-family: Proxima Nova Bold;
    text-transform: uppercase;
    font-size: 19px;
    color: white;
    padding-right: 2em;
  }
}

.btn-with-icon-black:hover {
  background-color: white;
  border: 1px solid $color-noir;

  img {
    color: $color-noir;
  }

  span {
    color: $color-noir;
  }
}

.position-fixed-bottom {
  position: fixed;
  bottom: 0;
}

.defiliant-banner-wrapper {
  height: 44px;
  width: 100%;
  overflow: hidden;

  p {
    font-family: Proxima Nova Bold;
    font-size: 39px;
    text-transform: uppercase;
    animation: defilement-rtl 5s infinite linear;
    white-space: nowrap;
    margin: 0;
    will-change: transform;
  }
}

.defiliant-banner-wrapper p:hover {
  animation-play-state: paused;
}

@keyframes defilement-rtl {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(100%, 0, 0);
  }
}