@import 'color.scss';
@import "fonts.scss";

body {
  margin-bottom: 0;
  background-color: $color-noir;
}
.container{

}
.container-fluid{
  padding-right: 0;
  padding-left: 0;
}
.row{
  margin-right: 0;
  margin-left: 0;
}
button {
  outline: none;
}


.btn-with-icon {

  img {
    margin-right: 17.8px;
    vertical-align: sub;
  }

  span {
    font-family: Proxima Nova Bold;
    text-transform: uppercase;
    font-size: 19px;

  }
}

.btn-with-icon:hover {
  background-color: $color-noir;
  border: 1px solid white;

  img {
    color: white;
  }

  span {
    color: white;
  }
}

.btn-with-icon-black {
  width: 262px;
  height: 62px;
  background-color: $color-noir;
  border: none;

  img {
    margin-right: 17.8px;
    vertical-align: sub;
  }

  span {
    font-family: Proxima Nova Bold;
    text-transform: uppercase;
    font-size: 19px;
    color: white;
  }
}

.btn-with-icon-black:focus {
  outline: none;
}


.btn-with-icon-black-no-hover {
  height: 75px;
  background-color: $color-noir;
  border: none;

  img {
    margin-right: 21.8px;
    vertical-align: sub;
    padding-left: 1em;
  }

  span {
    font-family: Proxima Nova Bold;
    text-transform: uppercase;
    font-size: 19px;
    color: white;
    padding-right: 2em;
  }
}

.btn-with-icon-black:hover {
  background-color: white;
  border: 1px solid $color-noir;

  img {
    color: $color-noir;
  }

  span {
    color: $color-noir;
  }
}

.position-fixed-bottom {
  position: fixed;
  bottom: 0;
}


.defiliant-banner-wrapper .defiliant-banner-text:hover {
  animation-play-state: paused;
}


.defiliant-banner-text span:before {
  content: attr(data-title);
  margin-right: .25em;
}

.defiliant-banner-text span:after {
  content: attr(data-title);
  margin-left: .25em;
}


@keyframes defilement-rtl {
  0% {
    transform: translate3D(calc((-100% / 7) - .0625em), 0, 0)
  }

  100% {
    transform: translate3D(0, 0, 0)
  }
}

button {
  border-color: transparent;
}