#footer {
  padding-bottom: 100px;
  padding-top: 100px; }
  #footer li {
    padding-bottom: 4px; }

.footer-link {
  font-family: Proxima Nova Bold;
  font-size: 18px;
  color: white;
  text-transform: uppercase;
  text-decoration: none; }

#newsletter-text {
  font-family: Proxima Nova Bold;
  font-size: 26px;
  color: white;
  margin-top: 10px; }

#newsletter-mail {
  border: 1px solid #FFFFFF;
  border-radius: 4px;
  padding: 18px 1em 18px 28px;
  background-color: black;
  color: white;
  margin-right: 27px; }

#newsletter-mail::placeholder {
  color: white;
  font-family: Proxima Nova Regular;
  font-size: 18px; }

#footer-copyright-text {
  font-family: Arial;
  font-size: 18px; }

#footer-arrow {
  cursor: pointer; }
