/*--------------------------------------------------------------//
//                          Couleur                            //
//------------------------------------------------------------*/
.color-noir {
  color: #000000; }

.color-gunmetal {
  color: #2A3236; }

.color-eclipse {
  color: #383838; }

.color-storm-grey {
  color: #717276; }

.color-dim-gray {
  color: #707070; }

.color-suva-grey {
  color: #939393; }

.color-lavender-grey {
  color: #C6C6D1; }

.color-solitude {
  color: #EEF0F4; }

.color-whisper {
  color: #EAEAEA; }

.color-white {
  color: white; }

/*----------------------------------------------------------------------//
//                          Couleur de fond                            //
//--------------------------------------------------------------------*/
.background-noir {
  background-color: #000000; }

.background-white {
  background-color: white; }

.background-degrade {
  background: linear-gradient(to right, #000000, #FFFFFF, #000000); }

.background-solitude {
  background-color: #EEF0F4; }

@font-face {
  font-family: Proxima Nova Thin;
  src: url("../fonts/proxima_nova_thin.otf"); }

@font-face {
  font-family: Proxima Nova Light;
  src: url("../fonts/proxima_nova_light.otf"); }

@font-face {
  font-family: Proxima Nova Bold;
  src: url("../fonts/proxima_nova_bold.otf"); }

@font-face {
  font-family: Proxima Nova SemiBold;
  src: url("../fonts/proxima_nova_semibold.otf"); }

@font-face {
  font-family: Proxima Nova ExtraBold;
  src: url("../fonts/proxima_nova_extrabold.otf"); }

@font-face {
  font-family: Proxima Nova Black;
  src: url("../fonts/proxima_nova_black.otf"); }

@font-face {
  font-family: Proxima Nova Regular;
  src: url("../fonts/proxima_nova_regular.otf"); }

@font-face {
  font-family: Proxima Nova Medium;
  src: url("../fonts/proxima_nova_medium.ttf"); }

body {
  margin-bottom: 0;
  background-color: #000000; }

button {
  outline: none; }

.btn-with-icon {
  width: 262px;
  height: 62px; }
  .btn-with-icon img {
    margin-right: 17.8px;
    vertical-align: sub; }
  .btn-with-icon span {
    font-family: Proxima Nova Bold;
    text-transform: uppercase;
    font-size: 19px; }

.btn-with-icon:hover {
  background-color: #000000;
  border: 1px solid white; }
  .btn-with-icon:hover img {
    color: white; }
  .btn-with-icon:hover span {
    color: white; }

.btn-with-icon-black {
  width: 262px;
  height: 62px;
  background-color: #000000;
  border: none; }
  .btn-with-icon-black img {
    margin-right: 17.8px;
    vertical-align: sub; }
  .btn-with-icon-black span {
    font-family: Proxima Nova Bold;
    text-transform: uppercase;
    font-size: 19px;
    color: white; }

.btn-with-icon-black:focus {
  outline: none; }

.btn-with-icon-black-no-hover {
  height: 75px;
  background-color: #000000;
  border: none; }
  .btn-with-icon-black-no-hover img {
    margin-right: 21.8px;
    vertical-align: sub;
    padding-left: 1em; }
  .btn-with-icon-black-no-hover span {
    font-family: Proxima Nova Bold;
    text-transform: uppercase;
    font-size: 19px;
    color: white;
    padding-right: 2em; }

.btn-with-icon-black:hover {
  background-color: white;
  border: 1px solid #000000; }
  .btn-with-icon-black:hover img {
    color: #000000; }
  .btn-with-icon-black:hover span {
    color: #000000; }

.position-fixed-bottom {
  position: fixed;
  bottom: 0; }

.defiliant-banner-wrapper .defiliant-banner-text:hover {
  animation-play-state: paused; }

.defiliant-banner-text span:before {
  content: attr(data-title);
  margin-right: .25em; }

.defiliant-banner-text span:after {
  content: attr(data-title);
  margin-left: .25em; }

@keyframes defilement-rtl {
  0% {
    transform: translate3D(calc((-100% / 7) - .0625em), 0, 0); }
  100% {
    transform: translate3D(0, 0, 0); } }

button {
  border-color: transparent; }
