/*--------------------------------------------------------------//
//                          Couleur                            //
//------------------------------------------------------------*/
.color-noir {
  color: #000000; }

.color-gunmetal {
  color: #2A3236; }

.color-eclipse {
  color: #383838; }

.color-storm-grey {
  color: #717276; }

.color-dim-gray {
  color: #707070; }

.color-suva-grey {
  color: #939393; }

.color-lavender-grey {
  color: #C6C6D1; }

.color-solitude {
  color: #EEF0F4; }

.color-whisper {
  color: #EAEAEA; }

.color-white {
  color: white; }

/*----------------------------------------------------------------------//
//                          Couleur de fond                            //
//--------------------------------------------------------------------*/
.background-noir {
  background-color: #000000; }

.background-white {
  background-color: white; }

.background-degrade {
  background: linear-gradient(to right, #000000, #FFFFFF, #000000); }

.background-solitude {
  background-color: #EEF0F4; }

h1 {
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-weight: 800;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: #707070;
  color: transparent;
  text-transform: uppercase;
  font-size: 150px;
  margin: 0; }

h2 {
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  font-size: 79px;
  margin: -8.5% 0 0 0; }

h4 {
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 49px;
  text-transform: uppercase; }

.text-labeur {
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 26px;
  text-align: left; }

.btn-with-icon {
  width: 262px;
  height: 62px; }
  .btn-with-icon img {
    margin-right: 17.8px;
    vertical-align: sub; }
  .btn-with-icon span {
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 19px; }

.btn-with-icon:hover {
  background-color: #000000;
  border: 1px solid white; }
  .btn-with-icon:hover img {
    color: white; }
  .btn-with-icon:hover span {
    color: white; }

.position-fixed-bottom {
  position: fixed;
  bottom: 0; }

.defiliant-banner-wrapper {
  height: 44px;
  width: 100%; }
  .defiliant-banner-wrapper p {
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 39px;
    text-transform: uppercase;
    animation: defilement-rtl 5s infinite linear;
    white-space: nowrap;
    margin: 0; }

.defiliant-banner-wrapper p:hover {
  animation-play-state: paused; }

@keyframes defilement-rtl {
  0% {
    transform: translate3d(0, 0, 0); }
  100% {
    transform: translate3d(100%, 0, 0); } }
